@model HardWorkSegurosWebSite.Models.CotacoesFormModel
@{
    ViewBag.Title = "Cotações";
}


<div id="myCarousel" class="carouselPages slide">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="cotacoes-img"></div>
            <div class="carousel-caption-pages">
                <h1>Cotações</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small>Faça um orçamento</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Cotações</li>
            </ol>
        </div>
    </div>

    <!-- Service Tabs -->
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#service-one">Plano de Saúde</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#service-two">Seguro de Vida</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#service-three">Seguro Viagem</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#service-four">Seguro Auto/Frota</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#service-five">Previdência Privada</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#service-six">Assistência Funeral</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#service-seven">Seguro Residencial</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div id="service-one" class="tab-pane fade in active">
                    <div class="col-sm-8">
                        <h3>Faça a cotação do seu Plano de Saúde</h3>
                        <p>Preencha o formulário abaixo, retornaremos com uma cotação do seu plano o mais rápido possível.</p>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                        <div class="row">
                            <h3 class="col-sm-8">Dados do plano</h3>
                            <hr class="col-sm-8" />
                            @Html.Hidden("Plano", "Saúde")
                            <div class="form-group col-lg-4">
                                @{
                                    var list1 = new List<string>
                                                            {
                                                                { "Saúde" },
                                                                { "Odontológico" },
                                                                { "Saúde + Odontológico" }
                                                            };
                                }
                                @Html.LabelFor(m => m.TipoSeguro)
                                @Html.DropDownListFor(m => m.TipoSeguro, new SelectList(list1), "Selecione", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.TipoSeguro)
                            </div>
                            <div class="form-group col-lg-4">
                                @{
                                    var list2 = new List<string>
                                                            {
                                                                { "Apartamento" },
                                                                { "Enfermaria" },
                                                                { "Ambulatório" }
                                                            };
                                }
                                @Html.LabelFor(m => m.OpcaoAcomodacao)
                                @Html.DropDownListFor(m => m.OpcaoAcomodacao, new SelectList(list2), "Selecione", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.OpcaoAcomodacao)
                            </div>
                            <div class="form-group col-lg-4">
                                @{
                                    var list3 = new List<string>
                                                            {
                                                                { "Com Reembolso" },
                                                                { "Sem Reembolso" }
                                                            };
                                }
                                @Html.LabelFor(m => m.OpcaoReembolso)
                                @Html.DropDownListFor(m => m.OpcaoReembolso, new SelectList(list3), "Selecione", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.OpcaoReembolso)
                            </div>
                            <div class="form-group col-lg-4">
                                @{
                                    var list4 = new List<string>
                                                            {
                                                                { "Nacional" },
                                                                { "Regional" }
                                                            };
                                }
                                @Html.LabelFor(m => m.OpcaoCobertura)
                                @Html.DropDownListFor(m => m.OpcaoCobertura, new SelectList(list4), "Selecione", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.OpcaoCobertura)
                            </div>
                        </div>
                        <div class="row">
                            <h3 class="col-sm-8">Dados pessoais</h3>
                            <hr class="col-sm-8" />
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.Nome)
                                @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Nome)
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.Celular)
                                @Html.TextBoxFor(m => m.Celular, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Celular)
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.Fixo)
                                @Html.TextBoxFor(m => m.Fixo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Fixo)
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.Estado)
                                @Html.TextBoxFor(m => m.Estado, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Estado)
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.Cidade)
                                @Html.TextBoxFor(m => m.Cidade, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Cidade)
                            </div>
                            <div class="form-group col-lg-4">
                                @Html.LabelFor(m => m.Idade)
                                @Html.TextBoxFor(m => m.Idade, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Idade)
                            </div>
                            <div class="form-group col-lg-4">
                                @{ 
                                    var list5 = new List<string>()
                                    {
                                        { "Individual" },
                                        { "Familiar" }
                                    };
                                }
                                @Html.LabelFor(m => m.OpcaoPlano)
                                @Html.DropDownListFor(m => m.OpcaoPlano, new SelectList(list5), "Selecione", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.OpcaoPlano)
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-lg-12">
                                <input type="hidden" value="contact" name="save">
                                <button class="btn btn-primary" type="submit" value="Send">Enviar</button>
                            </div>
                        </div>
                        }
                    </div>
                </div>
                <div id="service-two" class="tab-pane fade">
                    <div class="col-sm-8">
                        <h3>Faça a cotação do seu Seguro de Vida</h3>
                        <p>Preencha o formulário abaixo, retornaremos com uma cotação do seu plano o mais rápido possível.</p>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <h3 class="col-sm-8">Dados do plano</h3>
                                <hr class="col-sm-8" />
                                @Html.Hidden("Plano", "Vida")
                                <div class="form-group col-lg-4">
                                    @{
                                        var list1 = new List<string>
                                                                                    {
                                                                                        { "Seguro de Vida" },
                                                                                        { "Acidentes Pessoais" }
                                                                                    };
                                    }
                                    @Html.LabelFor(m => m.TipoSeguro)
                                    @Html.DropDownListFor(m => m.TipoSeguro, new SelectList(list1), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.TipoSeguro)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Cobertura)
                                    @Html.TextBoxFor(m => m.Cobertura, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Cobertura)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list3 = new List<string>
                                        {
                                            { "Individual" },
                                            { "Familiar" },
                                            { "Não desejo" }
                                        };
                                    }
                                    @Html.LabelFor(m => m.DesejaFuneral)
                                    @Html.DropDownListFor(m => m.DesejaFuneral, new SelectList(list3), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DesejaFuneral)
                                </div>
                            </div>
                            <div class="row">
                                <h3 class="col-sm-8">Dados pessoais</h3>
                                <hr class="col-sm-8" />
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Cpf)
                                    @Html.TextBoxFor(m => m.Cpf, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Cpf)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Nome)
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Nome)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Celular)
                                    @Html.TextBoxFor(m => m.Celular, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Celular)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Fixo)
                                    @Html.TextBoxFor(m => m.Fixo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Fixo)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.DataNascimento)
                                    @Html.TextBoxFor(m => m.DataNascimento, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DataNascimento)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list5 = new List<string>()
                                                                                                                                        {
                                                                                                                                            { "Sim" },
                                                                                                                                            { "Não" }
                                                                                                                                        };
                                    }
                                    @Html.LabelFor(m => m.Fumante)
                                    @Html.DropDownListFor(m => m.Fumante, new SelectList(list5), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Fumante)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list6 = new List<string>()
                                                                                                                                        {
                                                                                                                                            { "Masculino" },
                                                                                                                                            { "Feminino" }
                                                                                                                                        };
                                    }
                                    @Html.LabelFor(m => m.Sexo)
                                    @Html.DropDownListFor(m => m.Sexo, new SelectList(list6), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Sexo)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Profissao)
                                    @Html.TextBoxFor(m => m.Profissao, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Profissao)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.RendaMensal)
                                    @Html.TextBoxFor(m => m.RendaMensal, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.RendaMensal)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list7 = new List<string>()
                                                                                                                                        {
                                                                                                                                            { "Casado(a)" },
                                                                                                                                            { "Solteiro(a)" },
                                                                                                                                            { "Viúvo(a)" },
                                                                                                                                            { "Divorciado(a)" }
                                                                                                                                        };
                                    }
                                    @Html.LabelFor(m => m.EstadoCivil)
                                    @Html.DropDownListFor(m => m.EstadoCivil, new SelectList(list7), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EstadoCivil)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list8 = new List<string>()
                                                                {
                                                                    { "Sim" },
                                                                    { "Não" }
                                                                };
                                    }
                                    @Html.LabelFor(m => m.TemFilhos)
                                    @Html.DropDownListFor(m => m.TemFilhos, new SelectList(list8), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.TemFilhos)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list9 = new List<string>()
                                                                {
                                                                    { "Seguro Novo" },
                                                                    { "Renovação" }
                                                                };
                                    }
                                    @Html.LabelFor(m => m.TipoContrato)
                                    @Html.DropDownListFor(m => m.TipoContrato, new SelectList(list9), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.TipoContrato)
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-lg-12">
                                    <input type="hidden" value="contact" name="save">
                                    <button class="btn btn-primary" type="submit" value="Send">Enviar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="service-three" class="tab-pane fade">
                    <div class="col-sm-8">
                        <h3>Faça a cotação do seu Seguro Viagem</h3>
                        <p>Preencha o formulário abaixo, retornaremos com uma cotação do seu plano o mais rápido possível.</p>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                @Html.Hidden("Plano", "Viagem")
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Nome)
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Nome)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Celular)
                                    @Html.TextBoxFor(m => m.Celular, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Celular)
                                </div>
                                <div class="form-group col-lg-12">
                                    <input type="hidden" value="contact" name="save">
                                    <button class="btn btn-primary" type="submit" value="Send">Enviar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="service-four" class="tab-pane fade">
                    <div class="col-sm-8">
                        <h3>Faça a cotação do seu Seguro Auto/Frota</h3>
                        <p>Preencha o formulário abaixo, retornaremos com uma cotação do seu plano o mais rápido possível.</p>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <h3 class="col-sm-12">Informações do Segurado</h3>
                                <hr class="col-sm-8" />
                                @Html.Hidden("Plano", "Auto")
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.NomeSegurado)
                                    @Html.TextBoxFor(m => m.NomeSegurado, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NomeSegurado)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.CpfSegurado)
                                    @Html.TextBoxFor(m => m.CpfSegurado, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CpfSegurado)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Rg)
                                    @Html.TextBoxFor(m => m.Rg, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Rg)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.DataExpedicaoRg)
                                    @Html.TextBoxFor(m => m.DataExpedicaoRg, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DataExpedicaoRg)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.OrgaoExpeditor)
                                    @Html.TextBoxFor(m => m.OrgaoExpeditor, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.OrgaoExpeditor)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list1 = new List<string>()
                                                                                                                                                                                                                                                                                                                    {
                                                                                                                                                                                                                                                                                                                        { "Masculino" },
                                                                                                                                                                                                                                                                                                                        { "Feminino" }
                                                                                                                                                                                                                                                                                                                    };
                                    }
                                    @Html.LabelFor(m => m.SexoSegurado)
                                    @Html.DropDownListFor(m => m.SexoSegurado, new SelectList(list1), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SexoSegurado)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.DataNascimentoSegurado)
                                    @Html.TextBoxFor(m => m.DataNascimentoSegurado, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DataNascimentoSegurado)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list7 = new List<string>()
                                                                                                                                                                                                                                                                                                                                                                                                    {
                                                                                                                                                                                                                                                                                                                                                                                                        { "Casado(a)" },
                                                                                                                                                                                                                                                                                                                                                                                                        { "Solteiro(a)" },
                                                                                                                                                                                                                                                                                                                                                                                                        { "Viúvo(a)" },
                                                                                                                                                                                                                                                                                                                                                                                                        { "Divorciado(a)" }
                                                                                                                                                                                                                                                                                                                                                                                                    };
                                    }
                                    @Html.LabelFor(m => m.EstadoCivilSegurado)
                                    @Html.DropDownListFor(m => m.EstadoCivilSegurado, new SelectList(list7), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EstadoCivilSegurado)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.CnhSegurado)
                                    @Html.TextBoxFor(m => m.CnhSegurado, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Cnh)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.DataPrimeiraCnhSegurado)
                                    @Html.TextBoxFor(m => m.DataPrimeiraCnhSegurado, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DataPrimeiraCnhSegurado)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list8 = new List<string>()
                                                                                                                                                                                                                {
                                                                                                                                                                                                                    { "Próprio" },
                                                                                                                                                                                                                    { "Cônjuge" },
                                                                                                                                                                                                                    { "Filho(a)" },
                                                                                                                                                                                                                    { "Pai/Mãe" },
                                                                                                                                                                                                                    { "Outro" }
                                                                                                                                                                                                                };
                                    }
                                    @Html.LabelFor(m => m.RelacaoCondutor)
                                    @Html.DropDownListFor(m => m.RelacaoCondutor, new SelectList(list8), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.RelacaoCondutor)
                                </div>
                                <hr />
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Celular)
                                    @Html.TextBoxFor(m => m.Celular, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Celular)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Fixo)
                                    @Html.TextBoxFor(m => m.Fixo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Fixo)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Cep)
                                    @Html.TextBoxFor(m => m.Cep, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Cep)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Rua)
                                    @Html.TextBoxFor(m => m.Rua, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Rua)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.ResidenciaNum)
                                    @Html.TextBoxFor(m => m.ResidenciaNum, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ResidenciaNum)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.ResidenciaCompl)
                                    @Html.TextBoxFor(m => m.ResidenciaCompl, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ResidenciaCompl)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Estado)
                                    @Html.TextBoxFor(m => m.Estado, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Estado)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Cidade)
                                    @Html.TextBoxFor(m => m.Cidade, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Cidade)
                                </div>
                            </div>
                            <div class="row">
                                <h3 class="col-sm-8">Informações do Condutor</h3>
                                <hr class="col-sm-8" />
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.NomeCondutor)
                                    @Html.TextBoxFor(m => m.NomeCondutor, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NomeCondutor)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.CpfCondutor)
                                    @Html.TextBoxFor(m => m.CpfCondutor, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CpfCondutor)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list11 = new List<string>()
                                                                                                                                                                                                                                                                                                                    {
                                                                                                                                                                                                                                                                                                                        { "Masculino" },
                                                                                                                                                                                                                                                                                                                        { "Feminino" }
                                                                                                                                                                                                                                                                                                                    };
                                    }
                                    @Html.LabelFor(m => m.SexoCondutor)
                                    @Html.DropDownListFor(m => m.SexoCondutor, new SelectList(list11), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.SexoCondutor)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.DataNascimentoCondutor)
                                    @Html.TextBoxFor(m => m.DataNascimentoCondutor, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DataNascimentoCondutor)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list71 = new List<string>()
                                                                                                                                                                                                                                                                                                                                                                                                    {
                                                                                                                                                                                                                                                                                                                                                                                                        { "Casado(a)" },
                                                                                                                                                                                                                                                                                                                                                                                                        { "Solteiro(a)" },
                                                                                                                                                                                                                                                                                                                                                                                                        { "Viúvo(a)" },
                                                                                                                                                                                                                                                                                                                                                                                                        { "Divorciado(a)" }
                                                                                                                                                                                                                                                                                                                                                                                                    };
                                    }
                                    @Html.LabelFor(m => m.EstadoCivilCondutor)
                                    @Html.DropDownListFor(m => m.EstadoCivilCondutor, new SelectList(list71), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.EstadoCivilCondutor)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.CnhCondutor)
                                    @Html.TextBoxFor(m => m.CnhCondutor, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CnhCondutor)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.DataPrimeiraCnhCondutor)
                                    @Html.TextBoxFor(m => m.DataPrimeiraCnhCondutor, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DataPrimeiraCnhCondutor)
                                </div>
                            </div>
                            <div class="row">
                                <h3 class="col-sm-8">Informações do Veículo</h3>
                                <hr class="col-sm-8" />
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.AnoFabricacao)
                                    @Html.TextBoxFor(m => m.AnoFabricacao, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.AnoFabricacao)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.AnoModelo)
                                    @Html.TextBoxFor(m => m.AnoModelo, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.AnoModelo)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Marca)
                                    @Html.TextBoxFor(m => m.Marca, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Marca)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.ModeloVersao)
                                    @Html.TextBoxFor(m => m.ModeloVersao, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ModeloVersao)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list2 = new List<string>()
                                                                                                                                                                {
                                                                                                                                                                    { "Sim" },
                                                                                                                                                                    { "Não" }
                                                                                                                                                                };
                                    }
                                    @Html.LabelFor(m => m.ZeroKm)
                                    @Html.DropDownListFor(m => m.ZeroKm, new SelectList(list2), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.ZeroKm)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Placa)
                                    @Html.TextBoxFor(m => m.Placa, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Placa)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Chassi)
                                    @Html.TextBoxFor(m => m.Chassi, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Chassi)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Renavam)
                                    @Html.TextBoxFor(m => m.Renavam, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Renavam)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list3 = new List<string>()
                                                                                                                {
                                                                                                                    { "Sim" },
                                                                                                                    { "Não" },
                                                                                                                };
                                    }
                                    @Html.LabelFor(m => m.PossuiGnv)
                                    @Html.DropDownListFor(m => m.PossuiGnv, new SelectList(list3), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.PossuiGnv)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list4 = new List<string>()
                                                                                                                {
                                                                                                                    { "Sim" },
                                                                                                                    { "Não" },
                                                                                                                };
                                    }
                                    @Html.LabelFor(m => m.Blindado)
                                    @Html.DropDownListFor(m => m.Blindado, new SelectList(list4), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Blindado)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list5 = new List<string>()
                                                                                                                {
                                                                                                                    { "Sim" },
                                                                                                                    { "Não" },
                                                                                                                };
                                    }
                                    @Html.LabelFor(m => m.DeficienteFisico)
                                    @Html.DropDownListFor(m => m.DeficienteFisico, new SelectList(list5), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DeficienteFisico)
                                </div>
                            </div>
                            <div class="row">
                                <h3 class="col-sm-8">Informações Adicionais</h3>
                                <hr class="col-sm-8" />
                                <div class="form-group col-lg-4">
                                    @{
                                        var list51 = new List<string>()
                                                                                                                                                                {
                                                                                                                                                                    { "Seguro novo" },
                                                                                                                                                                    { "Renovação sem sinistro" },
                                                                                                                                                                    { "Renovação com sinistro" }
                                                                                                                                                                };
                                    }
                                    @Html.LabelFor(m => m.TipoSeguro)
                                    @Html.DropDownListFor(m => m.TipoSeguro, new SelectList(list51), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.TipoSeguro)
                                </div>
                                <div class="form-group col-lg-8">
                                    @{
                                        var list52 = new List<string>()
                                                                                                                                                                                        {
                                                                                                                                                                                            { "Não" },
                                                                                                                                                                                            { "Sim, ambos os sexos" },
                                                                                                                                                                                            { "Sim, masculinos" },
                                                                                                                                                                                            { "Sim, feminino" },
                                                                                                                                                                                            { "Sim, mas não dirigem" }
                                                                                                                                                                                        };
                                    }
                                    @Html.LabelFor(m => m.Pessoas18a24)
                                    @Html.DropDownListFor(m => m.Pessoas18a24, new SelectList(list52), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Pessoas18a24)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.CepPernoite)
                                    @Html.TextBoxFor(m => m.CepPernoite, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.CepPernoite)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list53 = new List<string>()
                                                                                                                                                                                        {
                                                                                                                                                                                            { "Sim" },
                                                                                                                                                                                            { "Não" }
                                                                                                                                                                                        };
                                    }
                                    @Html.LabelFor(m => m.UsoComercial)
                                    @Html.DropDownListFor(m => m.UsoComercial, new SelectList(list53), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.UsoComercial)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list54 = new List<string>()
                                                                {
                                                                    { "Sim, portão manual" },
                                                                    { "Sim, portão automático" },
                                                                    { "Não" }
                                                                };
                                    }
                                    @Html.LabelFor(m => m.GaragemResidencia)
                                    @Html.DropDownListFor(m => m.GaragemResidencia, new SelectList(list54), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.GaragemResidencia)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list55 = new List<string>()
                                                                                        {
                                                                    { "Sim" },
                                                                    { "Não" },
                                                                    { "Não trabalha" },
                                                                    { "Não utiliza para ir ao trabalho" }
                                                                                        };
                                    }
                                    @Html.LabelFor(m => m.GaragemTrabalho)
                                    @Html.DropDownListFor(m => m.GaragemTrabalho, new SelectList(list55), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.GaragemTrabalho)
                                </div>
                                <div class="form-group col-lg-4">
                                    @{
                                        var list56 = new List<string>()
                                                                                                                {
                                                                                            { "Sim" },
                                                                                            { "Não" },
                                                                                            { "Não estuda" },
                                                                                            { "Não utiliza para estudar" }
                                                                                                                };
                                    }
                                    @Html.LabelFor(m => m.GaragemEscola)
                                    @Html.DropDownListFor(m => m.GaragemEscola, new SelectList(list56), "Selecione", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.GaragemEscola)
                                </div>
                                <div class="form-group col-lg-12">
                                    <input type="hidden" value="contact" name="save">
                                    <button class="btn btn-primary" type="submit" value="Send">Enviar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="service-five" class="tab-pane fade">
                    <div class="col-sm-8">
                        <h3>Faça a cotação da sua Previdência Privada</h3>
                        <p>Preencha o formulário abaixo, retornaremos com uma cotação do seu plano o mais rápido possível.</p>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                @Html.Hidden("Plano", "Previdência")
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Nome)
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Nome)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Celular)
                                    @Html.TextBoxFor(m => m.Celular, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Celular)
                                </div>
                                <div class="form-group col-lg-12">
                                    <input type="hidden" value="contact" name="save">
                                    <button class="btn btn-primary" type="submit" value="Send">Enviar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="service-six" class="tab-pane fade">
                    <div class="col-sm-8">
                        <h3>Faça a cotação do seu Plano Assistência Funeral</h3>
                        <p>Preencha o formulário abaixo, retornaremos com uma cotação do seu plano o mais rápido possível.</p>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                @Html.Hidden("Plano", "Funeral")
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Nome)
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Nome)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Celular)
                                    @Html.TextBoxFor(m => m.Celular, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Celular)
                                </div>
                                <div class="form-group col-lg-12">
                                    <input type="hidden" value="contact" name="save">
                                    <button class="btn btn-primary" type="submit" value="Send">Enviar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="service-seven" class="tab-pane fade">
                    <div class="col-sm-8">
                        <h3>Faça a cotação do seu Seguro Residencial</h3>
                        <p>Preencha o formulário abaixo, retornaremos com uma cotação do seu plano o mais rápido possível.</p>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                @Html.Hidden("Plano", "Residencial")
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Nome)
                                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Nome)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email)
                                </div>
                                <div class="form-group col-lg-4">
                                    @Html.LabelFor(m => m.Celular)
                                    @Html.TextBoxFor(m => m.Celular, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Celular)
                                </div>
                                <div class="form-group col-lg-12">
                                    <input type="hidden" value="contact" name="save">
                                    <button class="btn btn-primary" type="submit" value="Send">Enviar</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>