@{
    ViewBag.Title = "Serviços";
}

<div id="myCarousel" class="carouselPages slide">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="services-img"></div>
            <div class="carousel-caption-pages">
                <h1>Serviços</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <small>Conheça nosso trabalho</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Serviços</li>
                <li><a href="#saude" class="scrollSuave">Plano de Saúde</a></li>
                <li><a href="#vida" class="scrollSuave">Seguro de Vida</a></li>
                <li><a href="#viagem" class="scrollSuave">Seguro Viagem</a></li>
                <li><a href="#auto" class="scrollSuave">Seguro Auto/Frota</a></li>
                <li><a href="#prev" class="scrollSuave">Previdência Privada</a></li>
                <li><a href="#assistencia" class="scrollSuave">Assistência Funeral</a></li>
                <li><a href="#residencial" class="scrollSuave">Seguro Residencial</a></li>
            </ol>
        </div>
    </div>

    <div class="row" id="vida">
        <div class="col-md-6">
            <img src="~/img/saude.jpg" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h2>Plano de Saúde</h2>
            <p>O <a href="@Url.Action("Index", "Cotacoes")">seguro saúde</a> oferece proteção e tranquilidade para seus colaboradores ao reembolsar as despesas com assistências médicas e hospitalares, realizadas por prestadores de sua livre escolha.</p>
            <p>Os planos também oferecem uma Rede Referenciada com milhares de consultórios, clínicas, laboratórios e hospitais. Assim, quando um procedimento coberto é realizado por esta rede, o prestador de serviço recebe diretamente e o segurado não precisa pagar pelo atendimento.</p>
        </div>
    </div>

    <hr />

    <div class="row" id="viagem">
        <div class="col-md-6">
            <h2>Seguro de Vida</h2>
            <p>Conte com um seguro de acidentes pessoais, que cobre morte acidental, ou um seguro de vida, que também cobre morte natural e oferece assistências personalizadas.</p>
            <p><a href="@Url.Action("Index", "Cotacoes")">Solicite uma cotação</a>! Vamos apresentar as melhores opções para as suas necessidades.</p>
        </div>
        <div class="col-md-6">
            <img src="~/img/vida.jpg" class="img-responsive">
        </div>
    </div>

    <hr />

    <div class="row" id="auto">
        <div class="col-md-6">
            <img src="~/img/viagem.jpg" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h2>Seguro Viagem</h2>
            <p>O seguro viagem tem por objetivo garantir ao segurado ou aos seus beneficiários, durante o período de viagem previamente determinado, o pagamento da indenização na ocorrência de um dos eventos cobertos pelas coberturas contratadas, durante viagem nacional ou internacional.</p>
            <p><a href="@Url.Action("Index", "Cotacoes")">Faça uma cotação</a> de seguro viagem para sua família e aproveite sua viagem com mais tranquilidade e menos preocupação no seu próximo embarque.</p>
        </div>
    </div>

    <hr />

    <div class="row" id="prev">
        <div class="col-md-6">
            <h2>Seguro Auto/Frota</h2>
            <p>O seguro para automóvel tem o objetivo de cobrir danos parciais ou perda total causados ao veículo segurado.</p>
            <p>Além dos prejuízos de reparo do veículo ou da indenização, a apólice cobre as despesas com o socorro e salvamento do veículo.</p>
            <p><a href="@Url.Action("Index", "Cotacoes")">Faça a cotação</a> para a renovação do seu seguro auto.</p>
        </div>
        <div class="col-md-6">
            <img src="~/img/auto.jpg" class="img-responsive">
        </div>
    </div>

    <hr />

    <div class="row" id="assistencia">
        <div class="col-md-6">
            <img src="~/img/previdencia.jpg" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h2>Previdência Privada</h2>
            <p>A <a href="@Url.Action("Index", "Cotacoes")">previdência</a> te ajuda a acumular recursos para você ter o futuro que sempre sonhou, sem comprometer sua renda no presente. Com ela, você faz contribuições únicas ou mensais para resgatar o valor poupado após a sua aposentadoria.</p>
            <p>O que você gostaria de fazer quando parar de trabalhar? Viajar pelo mundo? Abrir um negócio? Ter um hobbie? Ficar tranquilo por ter reservado fundos para os filhos? A previdência privada permite que você realize estes planos!</p>
            <p>De acordo com os seus objetivos, declaração de imposto de renda e orçamento atual, você escolhe o plano que atende as suas necessidades e faz da sua aposentadoria uma fase cheia de oportunidades.</p>
        </div>
    </div>

    <hr />

    <div class="row" id="residencial">
        <div class="col-md-6">
            <h2>Assistência Funeral</h2>
            <p>Evite preocupações em um momento de luto. Com a assistência funeral, você terá todas as despesas pagas ou reembolsadas em caso de morte.</p>
            <p><a href="@Url.Action("Index", "Cotacoes")">Faça a cotação</a> e veja as vantagens.</p>
        </div>
        <div class="col-md-6">
            <img src="~/img/funeral.jpg" class="img-responsive">
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-6">
            <img src="~/img/residencial.jpg" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h2>Seguro Residencial</h2>
            <p>Cobre os danos materiais causados por incêndio, raio ou explosão ao imóvel segurado, bem como outras coberturas adicionais.</p>
            <p><a href="@Url.Action("Index", "Cotacoes")">Faça uma cotação</a> e fique despreocupado em relação ao seu bem material mais valioso, o seu lar.</p>
        </div>
    </div>

</div>